.fade {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  position: absolute;
  z-index: 1;
  top: 10%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 500px;
  max-width: 80%;
  height: 400px;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal h2 {
  font-size: 1.2em;
  color: #0f9d58;
  margin-bottom: 1em;
}

.modal form {
  width: 90%;
}

.modal form input {
  background-color: #202124;
}

.modal form input[type="submit"]:hover {
  background-color: #202124;
}

